@font-face {
  font-family: 'JetBrains Mono';
  src: url('JetBrainsMono-Light.ttf') format('truetype');
}

body {
  transition: .6s;
  --global-font-size: 14px;
  --global-line-height: 1.4em;
  --global-space: 10px;
  --font-stack: 'JetBrains Mono', monospace;
  --mono-font-stack: 'JetBrains Mono', monospace;
  --page-width: 60em;
  --input-style: solid;
  --display-h1-decoration: none;
}

a, button {
  transition: .3s;
}

.hello {
  font-size: 24px;
  line-height: 0;
}
:root {
  --secondary-color: #A9B7C6;
  --tertiary-color: #660E7A;
  --primary-color: black;
  --error-color: #FF0000;
  --special-color: #0000FF;
}
.dark {
  --background-color: #222225;
  --font-color: #e8e9ed;
  --invert-font-color: #222225;
  --progress-bar-background: #3f3f44;
  --progress-bar-fill: #0000FF;
  --code-bg-color: #3f3f44;
  --special-color: #ffc66d;
  --tertiary-color: #9876AA;
  --primary-color: #CC7832;
}

.special-color {
  color: var(--special-color);

  &:hover {
    background: var(--special-color);
  }
}

.terminal-menu li a.router-link-active {
  color: var(--font-color);
}

.slide-up-enter-active,
.slide-up-leave-active,
.slide-bottom-enter-active,
.slide-bottom-leave-active,
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  transition: opacity .3s, transform .3s;
}

.slide-left-enter,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(-30%);
}

.slide-right-enter,
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(30%);
}

.slide-up-enter,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30%);
}

.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translateY(30%);
}

.center {
  text-align: center;
}

.vue-typer .custom.char.typed {
  color: var(--tertiary-color);
  text-transform: uppercase;
}

.about-grid {
  height: 100%;
  align-items: center;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat( auto-fit, minmax(calc(var(--page-width) / 3), 1fr) );
}

.about-grid > div:first-child {
  text-align: center;
}

.about-grid img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid var(--font-color);
  padding: 12px;
  transition: .3s;
}

.about-grid img:hover {
  padding: 0;
}

@media only screen and (min-width: 800px) {
  .about-grid div:first-child {
    text-align: right;
  }

  .about-grid img {
    margin-right: 50px;
  }
}

.fast_animation {
  --animate-duration: .3s;
}

@for $i from 0 through 10 {
  .fast_animation_delay_#{$i} {
    @extend .fast_animation;
    animation-delay: $i * 0.3s;
  }
}

@for $i from 0 through 10 {
  .very_fast_animation_delay_#{$i} {
    --animate-duration: .3s;
    animation-delay: $i * 0.15s;
  }
}

.terminal-menu li a.router-link-active {
  border-bottom: 1px solid var(--font-color);
  transition: border 0s;
}

.terminal-menu li a:not(.btn) {
  padding: 10px 0;
}

.hvr-float {
  -webkit-transform: inherit;
  transform: inherit;
}

.loader {
  animation: spinAround 500ms infinite linear;
  border: 2px solid var(--invert-font-color);
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(359deg)
  }
}

.btn > .icon {
  margin-right: 10px;
}

.terminal-prompt::before {
  content: "<?php";
}

.text-secondary {
  color: var(--secondary-color);
}

a:hover .text-secondary {
  color: #494949;
}